<link href="~/css/chat.css" rel="stylesheet">
<style>
    .mesgs{
        width: 100%;
    }
</style>
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}
<main id="content" class="content-area">
    <div class="pagetitle">
        <h1>Chat with Admin</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">Home</a></li>
                <li class="breadcrumb-item">Chat</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="scroll-down-container" title="Scroll down to see the latest messages">
                            <div class="scroll-down">
                                <i class="bi bi-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message" />
                            <button class="msg_send_btn" type="button">
                                <i class="bi bi-send"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}