@model Restaurant.Models.BlogModel
@{
    ViewData["Title"] = "Edit A Blog";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
         style="position: fixed; top: 20px; right: 20px; z-index: 1050; min-width: 250px;">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["SuccessMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 n-auto" data-bs-dismis="toast"
                    aria-label="Close"></button>
        </div>
    </div>
}
<main id="content" class="content-area">
    <div class="pagetitle">
        <h1>Edit A Blog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit A Blog</h5>
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="id" />
                            <input type="hidden" asp-for="banner" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.AntiForgeryToken()
                            <div class="row mb-3">
                                <label asp-for="title" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="title" class="form-control" />
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <select asp-for="status" class="form-select">
                                        <option value="ACTIVE" selected=@(Model.status == "ACTIVE")>Active</option>
                                        <option value="INACTIVE" selected=@(Model.status == "INACTIVE")>
                                            Inactive
                                        </option>
                                    </select>
                                    <span asp-validation-for="status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="BannerUpload" class="col-sm-2 col-form-label">Banner</label>
                                <div class="col-sm-10">
                                    <div class="d-flex align-items-center">
                                        @if (!string.IsNullOrWhiteSpace(Model.banner))
                                        {
                                            <img alt="banner upload" style="width: 100px; height: 80px; margin-right: 15px;"
                                                 src="/Media/@Model.banner" />
                                        }
                                        <input asp-for="BannerUpload" class="form-control" type="file" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="content" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <textarea asp-for="content" class="form-control"></textarea>
                                    <span asp-validation-for="content" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Buttons Row -->
                            <div class="row mb-4">
                                <div class="col-sm-6 text-end">
                                    <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </div>
                                <div class="col-sm-6">
                                    <!-- Update and Cancel buttons -->
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- Close card body -->
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
@section Scripts {
    @{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
}