@{
    ViewData["Title"] = "Verify OTP";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model Restaurant.ViewModels.ConstantHelper

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verify OTP</h2>
        <form asp-action="VerifyOTPForChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="otp" class="form-label">Enter OTP</label>
                <input type="text" id="otp" name="otp" class="form-control" placeholder="Enter the 6-digit OTP" required maxlength="6" pattern="\d{6}" />
                <span class="text-danger field-validation-valid" data-valmsg-for="otp" data-valmsg-replace="true"></span>
            </div>
            <input type="submit" value="Verify OTP" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-action="VerifyEmailForChangePassword" class="text-decoration-none mt-3">Back to Email Verification</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}