<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["title"] FRest Admin Dashboard</title>
    <meta content="Administrator Panel for Frest Restaurant" name="description">
    <meta content="Order , Manage" name="keywords">

    <!-- Favicons -->
    <link href="~/NiceAdmin/assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NiceAdmin/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-action="Index" asp-controller="Dashboard" class="logo d-flex align-items-center">
                <img src="~/NiceAdmin/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">FRest System</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-heading">Manage Board</li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Category">
                    <i class="bi bi-archive"></i>
                    <span>Category</span>
                </a>
            </li><!-- End Category Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Dish">
                    <i class="bi bi-card-list"></i>
                    <span>Dishes</span>
                </a>
            </li><!-- End Dishes Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Blog">
                    <i class="bi bi-book"></i>
                    <span>Blog</span>
                </a>
            </li><!-- End Blog Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Order">
                    <i class="bi bi-basket"></i>
                    <span>Order</span>
                </a>
            </li><!-- End Order Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="Ads">
                    <i class="bi bi-badge-ad-fill"></i>
                    <span>Ads</span>
                </a>
            </li><!-- End Ads Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="Index" asp-controller="WebSetting">
                    <i class="bi bi-sliders"></i>
                    <span>Web Setting</span>
                </a>
            </li><!-- End Web Setting Nav -->

            <li class="nav-heading">Account</li>

            <li class="nav-item">
                <a class="nav-link collapsed " asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house-fill"></i>
                    <span>Back to Home</span>
                </a>
            </li><!-- Back to Home Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed " asp-area="" asp-controller="Account" asp-action="VerifyEmailForChangePassword">
                    <i class="bi bi-person-fill-gear"></i>
                    <span>Change Password</span>
                </a>
             </li><!-- Change Password Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed " asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                </a>
            </li><!-- Sign Out Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        @RenderBody()

    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/quill/quill.js"></script>
    <script src="~/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/NiceAdmin/assets/js/main.js"></script>
    <!-- Render the Scripts section -->
    @RenderSection("Scripts", required: false)

</body>

</html>