.cart-table thead th {
    border-bottom: 2px solid #dee2e6;
}

.cart-table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

#cart-index-page .quantity-control {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

    #cart-index-page .quantity-control input[type="number"] {
        width: 50px;
        text-align: center;
        border: none;
        outline: none;
    }

    #cart-index-page .quantity-control button {
        background-color: #007bff !important;
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

        #cart-index-page .quantity-control button:hover {
            background-color: #007bff !important;
        }


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Cart Dropdown */
#cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 450px;
    max-height: 550px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 9999;
    border-radius: 8px;
}

    #cart-dropdown .cart-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 10px;
    }

    #cart-dropdown .cart-item-title {
        font-weight: bold;
        color: #333;
        font-size: 14px;
    }

    #cart-dropdown .remove-item-btn {
        color: red;
        font-size: 18px;
    }

.dropdown-footer a {
    width: 48%;
    text-align: center;
}

/* Cart Number Badge */
.cart-number {
    background-color: #128AFA;
    color: white;
    font-size: 14px;
    font-weight: light;
    border-radius: 50%;
    padding: 4px 8px;
    position: relative;
    top: -10px;
    left: -5px;
}

/* Responsive Layout */
@media (max-width: 500px) {
    #cart-dropdown {
        width: 100%;
        left: 0;
        max-height: 300px;
        overflow-y: scroll;
        padding: 15px;
    }
}
